#title{
  background-color: #ff4c68;
  color:#FFF;
}


h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

p{
  color: #8f8f8f;
}

.container-fluid{
  padding: 3% 15% 7%;
}

body{
  font-family: 'Montserrat';
}

/* navigation Bar */

.navbar{
  padding: 0px 0px 4.5rem;
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: 300;
}

.nav-item{
  margin: 0 18px;
}

.nav-link{
  font-family: "Montserrat";
  font-weight: lighter;
  font-size: 1.2rem;
}

/* download-buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
  width: 60%;
  position: absolute;
  right: 30%;
  transform: rotate(25deg);
}
 /* features  */

#features{
    padding: 100px 15%;
  text-align: center;
  line-height: 1.5;
  position: relative ;
  z-index: +1;
  background-color: #fff;
}

/* feature-box */

.features-box{
  margin: auto;
  padding: 5%;
}

/* features-icons */

.features-icons{
  color: #ef8172;
  margin-bottom: 1rem;
}

.features-icons:hover{
  color: #ff4c68;
}

/* features-heading */

.features-heading{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

/* testimonials */

#testimonials{
    background-color: #ef8172;
    text-align: center;
    color: #fff;
}

.carousel-item{
  padding: 100px 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
  padding: 100px 10%;
  text-align: center;
}

.pricing-box{
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}

/* cta */

#cta{
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
  padding: 100px 18%;
}

/* footer */

#footer{
  text-align: center;
  padding: 50px 0px 10px 0px ;
}

.footer-icons{
  width:  5%;
  padding-bottom: 20px;
}
